<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main2}">
    <head>
        <title>User Client Service</title>
    </head>
    <body>
        <section class="container mt-5 text-black card2 shadow" layout:fragment="content">
          <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">
                          <a th:href="@{/usermanagement}">User Management</a></li>
                        </li>
                    </ol>
                </nav>
            </div>
          </div>
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="fw-bold">List of Users</h1>
                <!-- Create Modal Button-->
                <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create-modal">
                  Add User
                </button> -->
            </div>
            <table id="table-userm" class="table table-bordered table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th class="col-2 text-center">ID</th>
                        <th class="col-4">Name</th>
                        <th class="col-4">Action</th>
                    </tr>
                </thead>
            </table>

            <!-- Modal Create -->
            <!-- <div class="modal fade" id="create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="create-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="create-label">Create User</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form>
                          <div class="modal-body">
                            <div class="mb-3">
                              <label class="form-label">Input FullName</label>
                              <input type="text" id="create-userm-name" class="form-control" placeholder="User Name" required>
                            </div>
                              <label class="form-label">Input Email</label>
                              <input type="text" id="create-userm-email" class="form-control" placeholder="User Name" required>
                            </div>
                              <label class="form-label">Input Phone</label>
                              <input type="text" id="create-userm-phone" class="form-control" placeholder="User Name" required>
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                              <button id="create-new-userm" type="button" class="btn btn-success">Create</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div> -->

            <!-- Modal Detail -->
            <div class="modal fade" id="detail-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detail-label" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="detail-label">Detail User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label class="form-label">Id</label>
                            <input type="text" id="detail-userm-id" class="form-control" placeholder="User Id" disabled>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" id="detail-userm-name" class="form-control" placeholder="User Name" disabled>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" id="detail-userm-email" class="form-control" placeholder="User Email" disabled>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="text" id="detail-userm-phone" class="form-control" placeholder="User Phone" disabled>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </form>
                  </div>
              </div>
            </div>

            <!-- Modal Update -->
            <div class="modal fade" id="update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="update-label" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="update-label">Update User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form>
                        <div class="modal-body">
                          <input type="hidden" id="update-userm-id" disabled />
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" id="update-userm-name" class="form-control" placeholder="User Name" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" id="update-userm-email" class="form-control" placeholder="User Email" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="text" id="update-userm-phone" class="form-control" placeholder="User Phone" required>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="btn-update-userm" type="button" class="btn btn-success">Update</button>
                        </div>
                      </form>
                  </div>
              </div>
            </div>

            <!-- Modal Delete -->
            <div class="modal fade" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-label" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="delete-label">Delete User</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label class="form-label">Id</label>
                            <input type="text" id="delete-userm-id" class="form-control" placeholder="User Id" disabled>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" id="delete-userm-name" class="form-control" placeholder="User Name" disabled>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </form>
                  </div>
              </div>
            </div>
        </section>
        <div layout:fragment="script">
            <script src="/js/userm.js"></script>
        </div>
    </body>
</html>