<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main2}">
    <head>
        <title>Book Client Service</title>
        <link rel="stylesheet" href="/css/book.css">
    </head>
    <body>
        <section class="container mt-5 text-black card2 shadow" layout:fragment="content">
            <!-- <div class="card2"> -->
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                                <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
                                <li class="breadcrumb-item" aria-current="page">
                                  <a th:href="@{/book}">Books</a></li>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                  <a th:href="@{/book/create}">Create Book</a></li>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="fw-bold">Add Books</h1>
            </div>
            
            <div class="tab">
                <button id="defaultOpen" class="tablinks" onclick="switchTab(event, 'manual')">Manual</button>
                <button class="tablinks" onclick="switchTab(event, 'apiGoogleBooks')">Google Books</button>
            </div>

            <div id="manual" class="tabcontent">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" id="create-book-title" class="form-control" placeholder="Book Title" required>
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label">Img Option</label><br>
                        <input type="radio" id="upload-file-option" name="img-option" value="file" checked>
                        <label for="upload-file-option">Upload File</label>
                        <input type="radio" id="url-option" name="img-option" value="url">
                        <label for="url-option">Image URL</label>
                    </div> -->
                    <!-- <div class="mb-3" id="file-input-container">
                        <label class="form-label">Upload Image</label>
                        <input type="file" id="create-book-img" name="create-book-img" accept="image/png, image/jpeg" class="form-control">
                    </div> -->
                    <div class="mb-3" id="url-input-container">
                        <label class="form-label">Image URL</label>
                        <input type="text" id="create-book-img-url" class="form-control" placeholder="Book Image URL">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Year</label>
                        <input type="text" id="create-book-year" class="form-control" placeholder="Book Year" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select id="create-book-category" class="form-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Author</label>
                        <select id="create-book-author" class="form-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Publisher</label>
                        <select id="create-book-publisher" class="form-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="text" id="create-book-price" class="form-control" placeholder="Book Price" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <input type="text" id="create-book-stock" class="form-control" placeholder="Book Stock" required>
                    </div>
                    <div class="mb-3">
                        <button id="create-new-book" type="button" class="btn btn-success">Create</button>
                        <button type="reset" class="btn btn-danger"><a class="cancel-link" th:href="@{/book}">Cancel</a></button>
                    </div>
                </form>
            </div>

            <div id="apiGoogleBooks" class="tabcontent">
                <input type="text" id="query" placeholder="Enter book title or author">
                <button id="searchBtn" onclick="searchBooks()">Search</button>
                <div id="results"></div>

                <form>
                    <div class="mb-3">
                        <img id="api-book-img" style="width: auto; height: 300px; display: none;" class="img-fluid" alt="Book Image">
                        <input type="text" id="create-api-book-img-url" class="form-control" style="display: none;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" id="create-api-book-title" class="form-control" placeholder="Book Title" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Year</label>
                        <input type="text" id="create-api-book-year" class="form-control" placeholder="Book Year" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <input type="text" id="create-api-book-category" class="form-control" placeholder="Category" disabled></input>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Author</label>
                        <input type="text" id="create-api-book-author" class="form-control" placeholder="Book Author" disabled></input>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Publisher</label>
                        <input type="text" id="create-api-book-publisher" class="form-control" placeholder="Publisher" disabled></input>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="text" id="create-api-book-price" class="form-control" placeholder="Book Price" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <input type="text" id="create-api-book-stock" class="form-control" placeholder="Book Stock" required>
                    </div>
                    <div class="mb-3">
                        <button id="create-api-new-book" type="button" class="btn btn-success">Create</button>
                        <button type="reset" class="btn btn-danger"><a class="cancel-link" th:href="@{/book}">Cancel</a></button>
                    </div>
                </form>
            </div>
            <!-- </div> -->
        </section>
        <div layout:fragment="script">
            <script src="/js/book.js"></script>
        </div>
    </body>
</html>